In [25]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [5]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [7]:
y = titanic['survived']
X = titanic.drop('survived',axis=1)

In [15]:
model = make_pipeline(StandardScaler(), SGDClassifier())
model.fit(X,y)

NameError: name 'SGDClassifier' is not defined

In [35]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split

ImportError: cannot import name '_average' from 'sklearn.utils._array_api' (C:\Users\ouedr\anaconda3\Lib\site-packages\sklearn\utils\_array_api.py)

In [21]:
X = titanic [['pclass','age']]
y = titanic['survived']

X_train, X_test, y_train, y_test = train_test_split(X,y)

NameError: name 'train_test_split' is not defined